{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		},
		"project": "./tsconfig.json"
	},
	"plugins": ["prettier", "@typescript-eslint/eslint-plugin"],
	"extends": ["prettier", "eslint-config-prettier", "eslint-config-prettier/@typescript-eslint"],
	"rules": {
		"strict": ["error", "never"],
		"quotes": ["error", "double", { "allowTemplateLiterals": true }]
	},
	"overrides": [
		{
			"files": ["*.tsx", "*.ts", "*.json"],
			"extends": ["airbnb-typescript"],
			"rules": {
				"no-tabs": "off",
				"indent": ["error", "tab"],
				/* TypeScript */
				"@typescript-eslint/indent": ["error", "tab"],
				"@typescript-eslint/no-tabs": "off",
				"@typescript-eslint/quotes": ["error", "double", { "allowTemplateLiterals": true }],
				"@typescript-eslint/explicit-module-boundary-types": "off",
				/* React JSX */
				"react/jsx-indent": ["error", "tab"],
				"react/react-in-jsx-scope": "off"
			}
		}
	]
}
